textarea{
	width: 300px;
	height: 200px;
}

.p1{
	font-weight: bold;
}
body{
	background-image:url("suggestions.jpg");
	background-attachment: scroll;
	color:navy;
	color: white;
}
.envoyer_annuler{
	font-weight: bold;
	background-color: teal;
	border-collapse: collapse;
}